header {
    background: #2182f0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1{
    padding: 2%;
}

.logo img {
    height: 60px;
    width: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #083463fa;
    font-size: 28px;
    margin: 0 0 20px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#search-form {
    margin-left: 30px;
    margin-right: 30px;
}

.search-params {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-field {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.price-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    flex: 0 0 auto;
    margin: 0 10px;
}

.dropdown {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background: #0004089a;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background: #0056b3;
}

.results {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.property {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.property img {
    max-width: 100%;
    height: auto;
}
.property-address {
    font-size: 24px;
    font-weight: bold;
    padding: 2%;
}
.property-details {
    margin-top: 1%;
    text-align: left;
}
