.buyListing {
    margin-top: 5%;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times; 
  }
  
