.profile-container {
    margin-top: 10%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }
  
  .userTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-details {
    position: relative ;
    justify-content: space-between;
    align-items: left;
  }
  
  .profile-info {
    flex: 1;
    text-align: left;
  }
  
  .edit-button,
  .add-listing-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover,
  .add-listing-button:hover {
    background-color: #0056b3;
  }